@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

#card_erro {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  z-index: 1000;
  background-color: #fff;
  width:  400px;
  height: 300px;
}

#card_erro img {
  width: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
}

#mensagem {
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 500;
}

.conteudo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;  
  width: 1400px;
  height: 90px;
  padding: 20px 0px 0px 0px;
}

.header img {
  width: 40px;
}

#botao_login {
    width: 80px;
    border: 2px solid #020e4b;
    background-color: #020e4b;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s ease;
}

#botao_login:hover {
  border: 2px solid #020e4b;
  background-color: transparent;
  color: #020e4b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 1000px;
  height: 600px;
  margin-bottom: 70px;
}

.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  margin: 0px;
  width: 500px;
  height: 100%;
  background-image: url('../assets/imgs/fundo_cadastro.png');
  background-size: cover;
  color: #fff;
}

.informacao h1 {
  font-weight: 800;
  margin: 0px;
  font-size: 40px;
}

.informacao p {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
}

.campos_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campos_cadastro h1{
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  color: #020e4b;
  margin-top: 0px;
  margin-bottom: 28px;
}
 
.botao {    
  width: 357px;
  height: 45px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #020e4b;
  background-color: #020e4b;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
}

.botao:hover {
  background-color: #fff;
  border: 2px solid #020e4b;
  color: #020e4b;
  font-weight: 700;
  cursor: pointer;
}

.campo {
  display: flex;
  flex-direction: column;
  width: 357px;
}

.campo span {
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 5px;
}

input {
  border: 2px solid #d6d6d6;
  width: 345px; 
  height: 45px;
  padding: 0px 0px 0px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.campo_senha {
  display: flex;
}

.container_tooltip_mensagem {
  display: flex;
  flex-direction: column-reverse;
  position: absolute; 
  width: 256px;
  height: 160px;
}

.container_imagem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  visibility: hidden;  
  width: 256px;
  height: 140px;
  background-image: url('../assets/imgs/caixa_tooltip.png');
  background-size: cover;
}

.container_imagem span {
  display: flex;
  width: 266px;
  font-size: 14px;
  padding-right: 30px;
  margin-left: 5px;
}

.tooltip_mensagem {
  font-size: 20px;
  margin: 0px;
  margin-bottom: 5px;
  margin-left: 10px;
}

.icone_tooltip { 
  margin-left: 7px;
  margin-bottom: 3px;
  width: 15px;
  height: 15px;
}

.icone_tooltip:hover ~ .container_imagem {
  visibility: visible;  
}

.container_input {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #d6d6d6;
}

.container_input:hover {
  border: 2px solid black;
}

.container_input img {
  width: 100%;
  height: 100%;
}

.container_input button {
  width: 7%;
  height: 45%;
  padding: 0;
  margin-right: 2%;
  border: none;
  background-color: transparent;
}

#senha_input {
  border: none;
  width: 100%;
  margin-bottom: 0;
}

#senha_input:focus {
  outline: none;
}

.container_input {
  display: flex;
  align-items: center;
  height: 45px;
  border-radius: 10px;
  border: 2px solid #d6d6d6;
}

.container_input:hover {
  border: 2px solid black;
}

.container_input img {
  width: 100%;
  height: 100%;
}

.container_input button {
  width: 7%;
  height: 45%;
  padding: 0;
  margin-right: 2%;
  border: none;
  background-color: transparent;
}

#confirmacao_senha_input {
  border: none;
  width: 100%;
  margin-bottom: 0;
}

#senha_input:focus {
  outline: none;
}