@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.container_principal {
  display: flex;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #020e4b;
  background-color: #020e4b;
  width: 250px;
  height: 98vh;
  margin-left: 6px;
  border-radius: 10px;
}

.header img {
  width: 150px;
  margin-bottom: 60px;
}

.header a {
  font-size: 20px;
  margin-top: 20px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #020e4b;
  border-radius: 5px;
  background-color: #020e4b;
  color: #fff;
  font-weight: 700;
  transition: 0.3s ease;
}

.header a:hover {
  border: 2px solid #020e4b;
  background-color: #fff;
  color: #020e4b;
}

.a_login{
  margin-bottom: 350px;
}

.conteudo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container_kpi {
  display: flex;
  justify-content: center;
}

.kpi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 10px 0px 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  width: 292px;
  height: 140px;
}

.container_grafico {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75%;
}

.container_grafico_praia {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 28px;
  text-align: center;
  width: 600px;
  height: 400px;
}

.grafico_praia {
  display: flex;
}

.container_grafico_evento {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  text-align: center;
  width: 600px;
  height: 400px;
}

.grafico_evento {
  display: flex;
}