@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

/* HEADER */

.header {
  position: fixed;
  width: 100%;
  background-color: #020e4b;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.header img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  color: #fff;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.banner_home {
  display: flex;
}

.container_home {
  margin-top: 100px;
}
.banner_home .container_home img{
  width: 100%;
  height: 100%;
}

.container_servico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #020e4b;
  height: 700px;
}

.container_servico h1 {
  color: #fff;
  font-family: "Cabin", sans-serif;
  font-size: 40px;
  margin-bottom: 60px;
  font-weight: 800;
}

.card_servico {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.card {
  width: 300px;
  height: 420px;
  background-color: #fff;
  margin: 0px 40px;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translate(0px, 5px);
}

.card_imagem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_imagem img{
  width: 100%;
  border-radius: 5% 5% 0% 0%;
}

.card_conteudo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card_conteudo h3 {
  font-weight: 800;
}

.card_conteudo p {
  margin-top: 0px;
  margin: 0px 10px;
  font-weight: 500;
}

.container_ambiental {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url('../assets/imgs/banner_complemento_cadastro.png');
  background-size: cover;
}

.container_ambiental .titulo {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 120px;
}

.container_ambiental .titulo h1 {
  font-size: 50px;
  margin-bottom: 10px;
  color: #083b14;
  font-weight: 800;
}

.container_ambiental .titulo p {
  font-weight: 500;
}

.card_ambiental {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 110px;
}

#vida_agua {
  background-color: #020e4b;
  color: #f7f5f5;
  height: 420px;
}

#vida_terrestre {
  background-color: #083b14;
  color: #f7f5f5;
  height: 420px;
}

.container_cadastro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
  background-image: url('../assets/imgs/banner_cadastro.png');
  background-size: cover;
}

.box_informacao {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_informacao h1 {
  font-size: 60px;
  margin-bottom: 0px;
  color: #f7f5f5;
  font-weight: 800;
}

.box_informacao p {
  font-size: 30px;
  color: #f7f5f5;
  font-weight: 500;
}

.box_informacao a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  border-radius: 10px;
  text-decoration: none;
  color: #f7f5f5;
  background-color: #020e4b;
  padding: 10px;
  width: 140px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  transition: 0.2s ease;
}

.box_informacao a:hover {
  border: 2px solid #020e4b;
  background-color: transparent;
  margin: 0px;
}

.footer {
  background-color: #f7f5f5;
  height: 240px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.conteudo_footer {
  display: flex;
  justify-content: space-between;
  height: 240px;
}

.logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.logo_footer img {
  width: 180px;
}

.informacao_footer {
  display: flex;
  align-items: center;
  margin-right: 150px;
  
}

.contato_footer {
  display: flex;
  flex-direction: column;
  color: #020e4b;
  margin-right: 30px;
  height: 140px;
}

.contato_footer span {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mapa_footer {
  display: flex;
  flex-direction: column;
  color: #020e4b;
  height: 140px;
}

.mapa_footer a {
  text-decoration: none;
  color: #020e4b;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020e4b;
  border-top: 0.5px solid #020e4b;
  height: 40px;
}