@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #020e4b;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.header img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  color: #fff;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.container_banner {
  width: 100%;
  height: 750px;
  background-image: url(../assets/imgs/banner_home_login.png);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titulo {
  font-size: 45px;
  color: #e0e3f3;
  padding-left: 6%;
  margin-bottom: 4%;
}

.bem_vindo {
  font-weight: 800;
  margin-bottom: 30px;  
}

.nome_usuario {
  margin-top:0;
  margin-bottom: 0;
}

.texto_banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 20%;
  height: 50%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  font-size: px;
  color: #020e4b;
  margin-right: 8%;
  background-color: #e0e3f3;
  margin-top: 5%;
  transition: 0.3s ease;
  margin-bottom: 4%;
}

.texto_banner:hover{
  transform: translate(0px, 5px);
}

.texto_banner img {
  width: 90px;
  margin-top: 8%;
  margin-bottom: 4%;
}

.texto_banner h3 {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 6%;
  margin-top: 5%;
}

.texto_banner p {
  width: 80%;
  margin-top: 0;
}

.container_evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 800px;
}

.container_evento h1 {
  font-size: 85px;
  margin-top: 2%;
  margin-bottom: 4%;
  font-weight: 800;
  color: #020e4b;
  text-align: center;
}

.texto_fonte {
  font-family: "Kaushan Script", cursive;
  font-weight: 700;
}

.container_evento img{
  width: 650px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-right: 5%;
}

.conteudo_evento {
  display: flex;
  align-items: center;
  justify-content: center;
}

.texto_evento {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #020e4b;
  border-radius: 10px;
  width: 40%;
  height: 100%;
  margin-left: 5%;
}

.texto_evento h2 {
  font-size: 40px;
  font-weight: 800;
  color: #fff;
}

.texto_evento p {
  width: 80%;
  margin-top: 0;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}

.container_praia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 820px;
  background-color: #b8c7ae;
  background-image: url(../assets/imgs/banner_home_simule.png);
  background-size: cover;
}

.container_praia img{
  width: 450px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);

}

.container_praia h1 {
  font-size: 65px;
  margin-top: 4%;
  margin-bottom: 4%;
  font-weight: 800;
  color: #083b14;
  text-align: center; 
}

.conteudo_praia {
  display: flex;
  justify-content: center;
}

.texto_praia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  background-color: #083b14;
  border-radius: 10px;
  width: 45%;
  height: 100%;
  margin-right: 5%;
}

.texto_praia h2 {
  font-size: 38px;
  font-weight: 800;
  color: #b8c7ae;
}

.texto_praia p {
  width: 80%;
  margin-top: 0;
  font-size: 28px;
  font-weight: 500;
  color: #c8cfc4;
}

.footer {
  background-color: #f7f5f5;
  height: 240px;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.conteudo_footer {
  display: flex;
  justify-content: space-between;
  height: 240px;
}

.logo_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.logo_footer img {
  width: 180px;
}

.informacao_footer {
  display: flex;
  align-items: center;
  margin-right: 150px;
  
}

.contato_footer {
  display: flex;
  flex-direction: column;
  color: #020e4b;
  margin-right: 30px;
  height: 140px;
}

.contato_footer span {
  margin-top: 5px;
  margin-bottom: 5px;
}

.mapa_footer {
  display: flex;
  flex-direction: column;
  color: #020e4b;
  height: 140px;
}

.mapa_footer a {
  text-decoration: none;
  color: #020e4b;
}

.footer_copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #020e4b;
  border-top: 0.5px solid #020e4b;
  height: 40px;
}

.container_simule {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  background-color: #020e4b;
}

.container_simule h1 {
  font-size: 65px;
  margin-bottom: 2%;
  font-weight: 800;
  color: #ffffff;
  text-align: center; 
}

.container_simule p {
  margin-top: 0;
  font-size: 30px;
  color: #e0e3f3;
}

.container_simule a {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #020e4b;
  background-color: #fff;
  color: #020e4b;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 15%;
  height: 8%;
  transition: 0.3s ease;
}

.container_simule a:hover {
  border: 2px solid #fff;
  background-color: #020e4b;
  color: #fff;
}