@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.conteudo { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;  
  width: 1400px;
  height: 90px;
  padding: 20px 0px 0px 0px;
}

.header img {
  width: 40px;
}

#botao_cadastro {
    width: 80px;
    border: 2px solid #083b14;
    background-color: #083b14;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    font-weight: 700;
    transition: 0.3s ease;
}

#botao_cadastro:hover {
  border: 2px solid #083b14;
  background-color: transparent;
  color: #083b14;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 1000px;
  height: 600px;
  margin-bottom: 70px;
}

.informacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  margin: 0px;
  width: 500px;
  height: 100%;
  background-image: url('../assets/imgs/fundo_login.png');
  background-size: cover;
  color: #fff;
}

.informacao h1 {
  font-weight: 800;
  margin: 0px;
  margin-top: 10px;
  font-size: 40px;
}

.informacao p {
    font-weight: 300;
    text-align: center;
    font-size: 22px;
    margin-top: 15px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100%;
}

.campos_cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.campos_cadastro h1{
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  color: #083b14;
  margin-top: 0px;
  margin-bottom: 28px;
}

#msg_erro_email {
  font-size: 13px;
  color: red;
  margin-left: 2%;
  margin-bottom: 2%;
}

#msg_erro_senha {
  font-size: 13px;
  color: red;
  margin-left: 2%;
}
 
.botao {    
  width: 358px;
  height: 50px;
  border-radius: 10px;
  color: #fff;
  border: 2px solid #083b14;
  background-color: #083b14;
  transition: 0.3s ease;
  font-weight: 700;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.botao:hover {
  background-color: #fff;
  border: 2px solid #083b14;
  color: #083b14;
  font-weight: 700;
  cursor: pointer;
}

.campo {
  display: flex;
  flex-direction: column;
  width: 357px;
}

.campo span {
  font-size: 18px;
  font-weight: 700;
  margin-left: 5px;
  margin-bottom: 5px;
  color: #083b14;
}

input {
  border: 2px solid #d6d6d6;
  height: 55px;
  padding: 0px 0px 0px 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.container_input {
  display: flex;
  align-items: center;
  height: 55px;
  border-radius: 10px;
  border: 2px solid #d6d6d6;
}

.container_input:hover {
  border: 2px solid black;
}

.container_input img {
  width: 100%;
  height: 100%;
}

.container_input button {
  width: 7%;
  height: 45%;
  padding: 0;
  margin-right: 2%;
  border: none;
  background-color: transparent;
}

#senha_input {
  border: none;
  width: 100%;
  margin-bottom: 0;
}

#senha_input:focus {
  outline: none;
}