@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Dancing+Script:wght@400..700&family=Kaushan+Script&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #020e4b;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.header img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  color: #fff;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.container_estaleiro {
    display: flex;
    width: 100%;
    height: 750px;
}

.conteudo_estaleiro {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.texto_estaleiro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #020e4b;
}

.texto_estaleiro h1{
    font-size: 55px;
    font-weight: 800;
    color: #fff;   
}

.texto_estaleiro p{
    width: 80%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.imagem_estaleiro {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/imagem_estaleiro.jpg);
    background-size: cover;
}

.container_maranduba {
    display: flex;
    width: 100%;
    height: 750px;
}

.conteudo_maranduba {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.texto_maranduba {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #083b14;
}

.texto_maranduba h1{
    font-size: 55px;
    font-weight: 800;
    color: #fff;   
}

.texto_maranduba p{
    width: 80%;
    font-size: 20px;
    color: #fff;
    text-align: center;
}

.imagem_maranduba {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/imagem_estaleiro.jpg);
    background-size: cover;
}

.container_fortaleza {
    display: flex;
    width: 100%;
    height: 750px;
}

.conteudo_fortaleza {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.texto_fortaleza {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

.texto_fortaleza h1{
    font-size: 55px;
    font-weight: 800;
    color: #020e4b;   
}

.texto_fortaleza p{
    width: 80%;
    font-size: 20px;
    color: #020e4b;
    text-align: center;
}

.imagem_fortaleza {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/imagem_estaleiro.jpg);
    background-size: cover;
}

.container_felix {
    display: flex;
    width: 100%;
    height: 750px;
}

.conteudo_felix {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 6%;
}

.texto_felix {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e0e3f3;
}

.texto_felix h1{
    font-size: 55px;
    font-weight: 800;
    color: #020e4b;   
}

.texto_felix p{
    width: 80%;
    font-size: 20px;
    color: #020e4b;
    text-align: center;
}

.imagem_felix {
    width: 100%;
    height: 100%;
    background-image: url(../assets/imgs/imagem_estaleiro.jpg);
    background-size: cover;
}