body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #020e4b;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.header img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  color: #fff;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.container_banner {
  display: flex;
  width: 100%;
  height: 650px;
  margin-top: 100px;
  background-color: #083b14;
  background-image: url(../assets/imgs/banner_simulador.png);
  background-size: cover;
}

.banner_apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 50%;
  margin-bottom: 9%;
}

.banner_apresentacao h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-left: 10%;
}

.banner_apresentacao p {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 0;
}

.banner_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 8%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
  width: 47%;
  height: 85%;
  transition: 0.3s ease;
}

.card:hover {
  transform: translate(0px, 5px);
}

.card img {
  width: 120px;
  margin-top: 5%;
}

.card h2 {
  color: #083b14;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}

.card p {
  margin-top: 0;
  color: #083b14;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 90%;
}

.container_manual {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1380px;
}

.titulo {
  font-size: 45px;
  color: #083b14;
  font-weight: 800;
}

.passos {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.texto_passos {
  display: flex;
  flex-direction: column;
}

.texto_passos h1 {
  font-size: 35px;
  font-weight: 800;
  margin-left: 2%;
  color: #083b14;
}

.texto_passos p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-left: 2%;
  color: #083b14;
}

.passos img {
  width: 400px;
  height: 150px;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.container_simulador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color: #020e4b;
  background-image: url(../assets/imgs/banner_resultado.png);
  background-size: cover;
}

.texto_simulador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 50%;
  margin-bottom: 6%; 
}

.texto_simulador h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-left: 10%;
}

.texto_simulador p {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 0;
}

.simulador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 6%; 
}

#card_simulador {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
}

.linha_resultado {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.simulador h1 {
  color: #020e4b;
  font-weight: 800;
  font-size: 40px;
  text-align: center;
  width: 100%;
  margin-top: 0;
}

.simulador p {
  color: #020e4b;
  font-weight: 500;
  margin-left: 11%;
  font-size: 18px;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.linha_resultado p {
  margin: 0;
  font-size: 28px;
  font-weight: 700;
  margin-left: 6%;
  width: 100%;
}

#ultima_linha {
  display: flex;
  flex-direction: column;
  padding-bottom: 4%;
  border-bottom: 4px solid #020e4b;
}

#ultima_linha p {
  margin-left: 12%;
}

#ultima_linha button {
  margin-top: 4%;
}

.paragrafo_responda_questionario {
  display: flex;
  justify-content: center;
  width: 100%;
}

.paragrafo_responda_questionario p {
  width: 85%;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
  margin-top: 4%;
}

.simulador input{
  width: 85%;
  border-radius: 5px;
  height: 40px;
  padding: 0px 10px 0px;
}

.simulador button {
  width: 74%;
  height: 45px;
  font-size: 20px;
  font-weight: 800;
  border: 2px solid #020e4b;
  border-radius: 10px;
  color: #fff;
  background-color: #020e4b;
  transition: 0.3s ease;
}

.simulador button:hover {
  background-color: #fff;
  color: #020e4b;
}

.container_questionario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 700px;
  background-color: #fff;
}

.container_questionario h1 {
  font-size: 55px;
  font-weight: 800;
  color: #083b14;
  margin-top: 0;
  margin-bottom: 0;
}

.container_questionario h2 {
  font-size: 30px;
  font-weight: 700;
  color: #083b14;
  margin-bottom: 0;
}

.container_questionario p {
  font-size: 20px;
  font-weight: 600;
  color: #083b14;
}

.container_questionario select {
  width: 30%;
  height: 40px;
  font-weight: 500;
  color: #083b14;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.container_questionario button {
  width: 12%;
  height: 45px;
  border: 2px solid #083b14;
  border-radius: 10px;
  margin-top: 2%;
  font-size: 18px;
  font-weight: 800;
  background-color: #083b14;
  color: #fff;
  transition: 0.3s ease;
}

.container_questionario button:hover {
  background-color: #fff;
  color: #083b14;
  border: 2px solid #083b14;
}