body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #020e4b;
  z-index: 1000;
}

.header .container {
  display: flex;
  justify-content: space-between;
  margin: 0px 50px;
}

.header img {
  width: 100px;
}

.header a {
  text-decoration: none;
  color: #fff;
}

.header li {
  color: #fff;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.container_banner {
  display: flex;
  width: 100%;
  height: 650px;
  margin-top: 100px;
  background-color: #083b14;
  background-image: url(../assets/imgs/banner_simulador.png);
  background-size: cover;
}

.banner_apresentacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
  width: 50%;
  margin-bottom: 9%;
}

.banner_apresentacao h1 {
  color: #fff;
  font-weight: 800;
  font-size: 50px;
  margin-left: 10%;
}

.banner_apresentacao p {
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  margin-left: 10%;
  margin-top: 0;
}

.banner_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 8%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background-color: #fff;
  width: 47%;
  height: 85%;
  transition: 0.3s ease;
}

.card:hover {
  transform: translate(0px, 5px);
}

.card img {
  width: 120px;
  margin-top: 5%;
}

.card h2 {
  color: #083b14;
  font-size: 25px;
  font-weight: 700;
  margin-top: 10%;
  text-align: center;
}

.card p {
  margin-top: 0;
  color: #083b14;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  width: 90%;
}

.container_manual {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1380px;
}

.titulo {
  font-size: 45px;
  color: #083b14;
  font-weight: 800;
}

.passos {
  display: flex;
  align-items: center;
  margin-top: 5%;
}

.texto_passos {
  display: flex;
  flex-direction: column;
}

.texto_passos h1 {
  font-size: 35px;
  font-weight: 800;
  margin-left: 2%;
  color: #083b14;
}

.texto_passos p {
  font-size: 20px;
  font-weight: 500;
  margin-top: 0;
  margin-left: 2%;
  color: #083b14;
}

.passos img {
  width: 400px;
  height: 150px;
  margin-right: 2%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.container_simulador {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 650px;
  background-color: #020e4b;
}